<div class="w-screen h-screen flex flex-column justify-content-center align-items-center gap-6">
  <p-button *ngIf="!started" (click)="start()" icon="pi pi-caret-right" size="large" label="START" iconPos="right"></p-button>
  <div *ngIf="started">
    <app-control-panel />
    <app-canvas></app-canvas>
    <app-notes-panel />
  </div>

</div>



<!--<div class="flex justify-content-center align-items-center gap-4 w-screen h-screen m-auto" *ngIf="started">-->
<!--  <p-button icon="pi pi-volume-up" [rounded]="true" severity="secondary" (click)="playNote('C4')"></p-button>-->
<!--  <p-button icon="pi pi-volume-up" [rounded]="true" severity="success" (click)="playNote('D4')"></p-button>-->
<!--  <p-button icon="pi pi-volume-up" [rounded]="true" severity="info" (click)="playNote('E4')"></p-button>-->
<!--  <p-button icon="pi pi-volume-up" [rounded]="true" severity="warning" (click)="playNote('F4')"></p-button>-->
<!--  <p-button icon="pi pi-volume-up" [rounded]="true" severity="help" (click)="playNote('G4')"></p-button>-->
<!--  <p-button icon="pi pi-volume-up" [rounded]="true" severity="danger" (click)="playNote('A4')"></p-button>-->
<!--</div>-->

